* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: Titulo;
  src: url("../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: Normal;
  src: url("../assets/fonts/Inter_18pt-Regular.ttf");
}

body {
    font-family: Normal;
}